                                           
    <div class="navbar-header">

      <a class="navbar-brand" data-ui-sref="welcome">
       <div class="brand-icon-wrapper">
        <img src="${url.resourcesPath}/img/brand/invenco-cloud-services-icon-min.svg" alt="Invenco Cloud Services" class="brand-icon">
       </div>
       <div class="nav-meta-title">
        <div data-ng-if="desktop">Invenco Cloud Services</div>
        <div data-ng-if="mobile" data-ng-bind="navTitle"></div>
       </div>
      </a>

    </div>

